<!-- About section -->  
    <h4 id="lang-en1" lang="en"><b>About Me</b></h4>
    <h4 id="lang-fr1" style="display:none"><b>Courte Bio</b></h4>
    <div class="w3-content w3-justify" style="max-width:600px">
      <!-- <h4>Nesmy Point du Jour</h4> -->
      <div style="display:flex">
      <p id="lang-en2" style="display:inline-block">
        <img src="/images/Me.jpeg" alt="Me" class="w3-image" style="padding-right:10px; float:left;" width="200" height="250">
          My name is Nesmy Point du Jour, I'm a self-taught developer and my programming language of choice is C++ but I love learning new technologies.
          I have not gained any work experience but I hope to change that soon.
      </p>
      <p id="lang-fr2">
          <img src="/images/Me.jpeg" alt="Me" class="w3-image" style="padding-right:10px; float:left;" width="200" height="250">
          Mon nom est Nesmy Point du Jour, je suis un self-taught developer et mon langage de programmation de choix est le C++ mais j'aime apprendre de nouvelles technologies.
          Je n'ai acquis aucune expérience professionnelle mais j'espère changer cela bientôt.
      </p>
      </div>
      <p id="lang-en">Mail: pnesmy@gmail.com</p>
      <p>Tel: 514 992 0641</p>
      <hr class="w3-opacity">
      <h4 class="w3-padding-16" id="lang-en7">Technical Skills</h4>
      <h4 class="w3-padding-16" id="lang-fr7">Compétences Technique</h4>
      <p class="w3-wide" id="lang-en">C/C++</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:80%">80%</div>
      </div>
      <p class="w3-wide">HTML/CSS</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:70%">69%</div>
      </div>
      <p class="w3-wide">JS</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:55%">55%</div>
      </div>
      <p class="w3-wide">Shell</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:75%">75%</div>
      </div>
      <!-- <p><button class="w3-button w3-light-grey w3-padding-large w3-margin-top w3-margin-bottom">Download Resume</button></p> -->
    <hr class="w3-opacity">
