<!-- change language -->
<div class="switch" onClick="_changeLang()">
    <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
	    <label for="language-toggle"></label>
	    <span class="on">EN</span>
	    <span class="off">FR</span>
</div>