---

---

<!-- About -->
  <section class="max-w-4xl mx-auto py-20 px-6" id="about">
    <h2 class="text-3xl font-bold mb-6" data-i18n="about">About Me</h2>
    <p class="text-gray-700 dark:text-gray-300 leading-loose" data-i18n="aboutText">
      I’m a self-taught programmer with experience in full-stack web development, game engines, operating systems, 
      and AI integration. I build custom websites, developer tools, and 3D systems from the ground up using technologies like HTML, 
      Tailwind, Astro, and C++. Whether it's deploying a dynamic web app or building a low-level kernel, I enjoy solving tough problems with clean code.
    </p>
  </section>