<!-- Contact section -->
  <div class="w3-container w3-padding-32 w3-padding-large" id="contact">
    <div class="w3-content" style="max-width:600px">
      <h4 class="w3-center" id="lang-en4" data-i18n="contact"><b>Contact Me</b></h4>    
      <p data-i18n="contactText">Have a project or just want to say hi?</p>      
      <form action="mailto:pnesmy@gmail.com" method="post" enctype="text/plain">
        <div class="w3-section">
          <label data-i18n="nom">Name</label>
          <input class="w3-input w3-border" type="text" name="Name" required>
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="w3-input w3-border" type="email" name="Email" required>
        </div>
        <div class="w3-section">
          <label>Message</label>
          <textarea class="w3-input w3-border" type="textbox" style="height:100px" name="Message" required> </textarea>
        </div>
        <button type="submit" class="w3-button w3-block w3-margin-bottom bg-gray-200 dark:bg-gray-700 px-3 py-1 rounded text-sm hover:bg-gray-300 dark:hover:bg-gray-600" value="Send" data-i18n="send">Send Message</button>      
      </form>
    </div>
  </div>