---

---

<!-- Skills -->
  <section class="max-w-4xl mx-auto py-10 px-6" id="skills">
      <h2 class="text-3xl font-bold mb-6" data-en="Skills" data-fr="Compétences" data-i18n="skills">Skills</h2>
    <div class="flex flex-wrap gap-3 text-sm">
      <span class="bg-gray-200 dark:bg-gray-700 text-black dark:text-white px-3 py-1 rounded">HTML</span>
      <span class="bg-gray-200 dark:bg-gray-700 text-black dark:text-white px-3 py-1 rounded">Tailwind CSS</span>
      <span class="bg-gray-200 dark:bg-gray-700 text-black dark:text-white px-3 py-1 rounded">Astro</span>
      <span class="bg-gray-200 dark:bg-gray-700 text-black dark:text-white px-3 py-1 rounded">JavaScript</span>
      <span class="bg-gray-200 dark:bg-gray-700 text-black dark:text-white px-3 py-1 rounded">C++</span>
      <span class="bg-gray-200 dark:bg-gray-700 text-black dark:text-white px-3 py-1 rounded">Game Dev</span>
      <span class="bg-gray-200 dark:bg-gray-700 text-black dark:text-white px-3 py-1 rounded">Linux</span>
      <span class="bg-gray-200 dark:bg-gray-700 text-black dark:text-white px-3 py-1 rounded">AI Integration</span>
    </div>
  </section>
