<!-- Social section -->

<div class="text-center">
  <h4 class="pt-10" data-en="How to find me" data-fr="Comment me trouver" data-i18n="social">How to find me</h4>
  <div class="w3-row-padding" style="margin:0 -16px">
    <a href="https://github.com/nesmy" target="_blank"><button class="btn-icon"><i class="fa fa-github" style="font-size:36px"></i></button></a>
    <a href="https://www.youtube.com/@nesmy_d3721" target="_blank"><button class="btn-icon"><i class="fa fa-youtube-play" style="font-size:36px"></i></button></a>
    <a href="https://x.com/Nesmy_" target="_blank"><button class="btn-icon"><i class="fa fa-twitter" style="font-size:36px"></i></button></a>
    <a href="https://nesmy.itch.io/" target="_blank"><button class="btn-icon"><i class="fa-brands fa-itch-io">itch.io</i></button></a>
  </div>

</div>
