<!-- Social section -->
      <h4 class="w3-padding-16" id="lang-en3">How to find me</h4>
      <h4 class="w3-padding-16" id="lang-fr3">Comment me trouver</h4>
      <div class="w3-row-padding" style="margin:0 -16px">
    <a href="https://github.com/nesmy" target="_blank"><button class="btn-icon"><i class="fa fa-github" style="font-size:36px"></i></button></a>
    <a href="https://www.youtube.com/@nesmy_d3721" target="_blank"><button class="btn-icon"><i class="fa fa-youtube-play" style="font-size:36px"></i></button></a>
    <a href="https://x.com/Nesmy_" target="_blank"><button class="btn-icon"><i class="fa fa-twitter" style="font-size:36px"></i></button></a>
      </div>
    </div>
  </div>